table.utdanning_rdf td:First-child{
    width: 440px;
}
#edit-utdanning-rdf-table-title{
    width: 400px;
}

table.utdanning_rdf_reverse {
  width: 100%;
}

td.utdanning_rdf_small {
  width: 10px;
}

td.utdanning_rdf_big {
  width: 400px;
}
